# appveyor.yml - https://www.appveyor.com/docs/lang/python
---
image:
  - Visual Studio 2019

environment:
  matrix:
    - PYTHON: "C:\\Python36-x64" # end-of-life 2021-12-23
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python37-x64" # end-of-life 2023-06-27
      PYTHON_VERSION: "3.7"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python38-x64" # end-of-life 2024-10
      PYTHON_VERSION: "3.8"
      PYTHON_ARCH: "64"
    # https://devguide.python.org/versions/#versions

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - "python -m pip install --upgrade setuptools pip wheel"
  - "python -m pip install --upgrade pytest coveralls codecov"
  - "python -m pip install numpy==1.19.5"
  - "python -m pip install Cython" # for pandas 1.4.4
  - "python setup.py install"
  - ps: (new-object net.webclient).DownloadFile('https://www.drive5.com/muscle/downloads3.8.31/muscle3.8.31_i86win32.exe', 'C:\\projects\\thoraxe\\muscle.exe')
  - wsl git clone https://github.com/PhyloSofS-Team/ProGraphMSA.git prographmsa
  - wsl chmod a+x ./prographmsa/bin/ProGraphMSA_64
  - wsl sudo cp ./prographmsa/bin/ProGraphMSA_64 /bin/ProGraphMSA
  - wsl rm -fr prographmsa # clean up

build: false

test_script:
  - "python setup.py test"
  - "codecov.exe"
